<nav class="navbar navbar-expand-lg  py-2 navbar-dark bg-dark shadow-sm fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Collapsible wrapper -->
    <div class="">
      <!-- Navbar brand -->
      <a class="navbar-brand  mt-lg-0">
        <img src="../../src/assets/img/THINK N-4.png" style="width:150px" alt="no image" class=" align-middle mr-2">
      </a>

    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <div class="d-flex mr-auto">
        <div>
          <a class=" align-items-center mx-4">
            <fa-icon class=" text-info d-sm-none  h1 btn bg-light callhover  rounded-pill" (click)="makeCall()"
              [icon]="call"></fa-icon>
            <a class="d-none  d-md-inline-block btn shadow-sm navbutton" data-toggle="tooltip" data-placement="bottom"
              title="Tooltip on bottom" (click)="makeCall()"><fa-icon class=" px-1 text-info  h5 me-1"
                [icon]="call"></fa-icon>+91 9566150753</a>
          </a>
          <a  [href]="whatsappLink" target="_blank" class=" align-items-center  ">
            <fa-icon class=" text-success d-sm-none h1 btn bg-light  rounded-pill" [icon]="whatsup"></fa-icon>
            <a  [href]="whatsappLink" target="_blank" class="d-none  d-md-inline-block btn bg-light  rounded-pill"><fa-icon class="  text-success h4 "
                [icon]="whatsup"></fa-icon></a>
          </a>
        </div>

      </div>


    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>

<section class="container-fluid container-fluid_1">

  <div class="container   ">
    <div class="row justify-content-center min-vh-100  align-items-center ">
      <div class="col-lg-7 col-12 mt-5  ">
        <div class="mt-md-3  mx-md-5 mx-sm-0  mt-5">
          <h1 class=" display-4 text-light " style="   font-family: 'Times New Roman', Times, serif;">Be the Next to
            Explore </h1>
          <h2 class=" display-4 " style="color: rgb(104, 203, 245); font-weight:bolder; font-style: oblique;">
            Education Overseas</h2>
          <h4 class=" text-light mt-3 ">Obtain a degree from a leading international university..
          </h4>
        </div>
        <div class="row mx-md-5 mx-sm-0 text-center mt-2">


          <div class=" col-md-2 col-4 ">
            <img src="../assets/img/united-kingdom.png" class="img-fluid rounded" style="width: 50px;" alt="flag" /><br>
            <h6 class=" text-light ">UK</h6>
          </div>
          <div class=" col-md-2 col-4 ">
            <img src="../assets/img/united-states-of-america.png" style="width: 50px;" class="img-fluid rounded"
              alt="flag" /> <br>
            <h6 class=" text-light ">USA</h6>
          </div>
          <div class="col-md-2 col-4  ">
            <img src="../assets/img/canada.png" class="img-fluid rounded" style="width: 50px;" alt="flag" /><br>
            <h6 class=" text-light ">Canada</h6>
          </div>
          <div class=" col-md-2 col-6">
            <img src="../assets/img/germany.png" class="img-fluid rounded" style="width: 50px;" alt="flag" /><br>
            <h6 class=" text-light ">Germany</h6>
          </div>

          <div class=" col-md-2 col-6 ">
            <img src="../assets/img/singapore.png" class="img-fluid rounded" style="width: 50px;" alt="flag" /><br>
            <h6 class=" text-light ">Singapore</h6>
          </div>


        </div>

        <div class=" mx-md-5 mx-sm-0 mt-4">
          <div class=" mt-2">

            <fa-icon class=" px-1 bg-light rounded-pill text-primary   h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">Courses starting from ₹3 Lakhs</span>

          </div>
          <div class="mt-2">
            <fa-icon class=" px-1 bg-light rounded-pill text-primary   h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">Scholarship worth ₹10,00,000</span>

          </div>
          <div class="mt-2">
            <fa-icon class=" px-1 bg-light rounded-pill text-primary    h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">Offer letter in less than 48 hours</span>

          </div>
          <div class="mt-2">
            <fa-icon class=" px-1 bg-light rounded-pill text-primary  h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">English language test waiver</span>

          </div>
          <div class="mt-2">
            <fa-icon class=" px-1 bg-light rounded-pill text-primary   h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">Job placement assistance</span>

          </div>
          <div class="mt-2">
            <fa-icon class=" px-1 bg-light rounded-pill text-primary  h5 me-3" [icon]="list"> </fa-icon>
            <span class=" h6 text-light">Free end-to-end counselling</span>

          </div>

        </div>
      </div>

      <div class="col-lg-5  col-12 mt-lg-5 mt-3">

        <div class="card fromcard_1 border-0 rounded-4 mt-5 mx-md-5  mx-0 mb-3">
          <div class="card-body p-3  p-md-4 p-xl-4">
            <div class="row">
              <div class="col-12">
                <div class="mb-4 text-center">
                  <span class="h2 text-italic  text-uppercase text-bold"
                    style="font-style:italic; color: rgb(2, 21, 100);font-family:Arial, Helvetica, sans-serif ;font-weight: bolder;">Book
                    your <br> <span class="h3 text-bold">free consulation</span> </span>

                </div>
              </div>
            </div>
            <form  #addcons="ngForm" novalidate (ngSubmit)="addcons.form.valid&&BookNow()">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12 mb-3">
                  <div class="form-group has-search">
                    <span class=" form-control-feedback"><fa-icon class=" text-dark h4" [icon]="user"></fa-icon></span>
                    <input type="text" class="form-control form-control-md "#name=ngModel id="name" name="name" [(ngModel)]="consulation.name" placeholder="Fullname" required>
                 
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="form-group has-search">
                    <span class=" form-control-feedback"><fa-icon class=" text-dark h4" [icon]="mail"></fa-icon></span>
                    <input type="text" class="form-control " #emailId=ngModel id="email" name="email"  [(ngModel)]="consulation.emailId"  placeholder="abcd@gmail.com" required>
                    
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <div class="input-group has-search" >

                  <fa-icon class=""  class=" input-group-text  text-dark "
                        [icon]="phone"></fa-icon>

                    <select class="input-group-text countryInput " #countrycode=ngModel [(ngModel)]="consulation.countryCode" name="countrycode" id="countrycode" placeholder="select country" >
                     
                      <option value="+91">+91 India</option>
                      <option value="+1"> +01  US</option>
                      <option value="+44">+44 UK</option>
                      <option value="+93">+93 Afghanistan</option>
                      <option value="+61">+61 Australia</option>
                      <option value="+1">+01 Canada</option>
                      <option value="+49">+49 Germany</option>
                      <option value="+65">+65 Singapore</option>
                      <option value="+94">+94 Srilanka</option>
                      <option value="+27">+27 South Africa</option>
                     
                    </select>
              


                    <input type="text" class="form-control" #mobilenumber=ngModel name="mobilenum" id="mobilenum" [(ngModel)]="consulation.mobileNumber"  required  aria-label="Small" aria-describedby="inputGroup-sizing-sm" [minlength]="10" >
                    
                  </div>


                </div>
                <div class="col-12 mb-3">
                  <div class="form-group has-search">
                    <span class=" form-control-feedback"><fa-icon class=" text-dark h4"
                        [icon]="location"></fa-icon></span>
                    <select type="text"  [(ngModel)]="consulation.countryName" #country=ngModel  class="form-control form-select input-form" id="country_intrested"
                      name="country_intrested" required>
                      <option value="">Select country </option>
                      <option value="UK">UK</option>
                      <option value="Dubai">Dubai</option>
                      <option value="USA">USA</option>
                      <option value="Canada">Canada</option>
                      <option value="Germany">Germany</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Others">Others</option>
                    </select>
                   
                  </div>
                </div>


                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-lg" type="button" disabled style="background-color: rgba(59, 62, 144, 0.998);color:white;" *ngIf="this.loading">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      booking...
                       </button>
                   
                    <button class="btn   btn-lg" [hidden]="this.loading" [disabled]="addcons.invalid" (click)="this.loginning=true" style="background-color: rgba(59, 62, 144, 0.998);color:white;"
                      type="submit">Book
                      now</button>
                  </div>
                </div>
              </div>
            </form>


          </div>
        </div>
      </div>



    </div>
  </div>

</section>

<section class="container-fluid container-fluid_2">

  <div class="container py-3">
    <div class="text-center">
      <span class="display-3"
        style="color: rgb(2, 9, 79); font-weight: bold; font-family: 'Times New Roman', Times, serif;">Think N Move
        <span class="display-4" style=" color: rgb(38, 0, 255); ">Comprehensive Support</span> </span>
      <p class="text-muted h5"> Individualized Assistance Based on Your Unique Characteristics</p>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6 col-12 ">
        <div class="container">
          <img src="../assets/img/graduation hats-bro.png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class=" col-md-7 col-lg-6 col-12 ">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">Selecting the Best-Fit Program for Your Goals</h1>
          <p class="description text-muted mt-3 ">

            Choosing the right program at the right university in the right country is essential for your future. This
            decision impacts your academic success and career prospects, so getting it right is crucial. We are
            committed
            to helping you navigate this process, ensuring that you find the perfect match for your goals and
            aspirations.
            Your success and satisfaction are our top priorities, and we are here to support you every step of the way.
            Let us help you make this important decision, so you can confidently embark on your educational journey with
            the best possible foundation.

          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6 col-12 order-1 order-md-2 ">
        <div class="container ">
          <img src="../assets/img/Pair programming-pana.png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class=" col-md-7 col-lg-6  col-12 order-2 order-md-1">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">Specialized Professional Application Assistance </h1>
          <p class="description text-muted mt-3 ">

            Embark on a transformative journey with our dedicated coaching service, designed to guide you every step of
            the way. Our expert coaches provide personalized support, ensuring you stay on track to achieve your goals.
            Complementing this personalized guidance is the Leverage mobile app, a powerful tool that offers real-time
            updates and insights at every stage of your journey. With live status updates, you can monitor your
            progress, stay motivated, and make informed decisions. Together, our hands-on coaching and innovative app
            create a seamless and empowering experience, ensuring you reach your full potential with confidence and
            clarity.

          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6col-12 ">
        <div class="container">
          <img src="../assets/img/Exams-pana.png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class=" col-md-7 col-lg-6  col-12 ">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">On-the-Go English Test Coaching </h1>
          <p class="description text-muted mt-3 ">

            Backed by the creators of TOEFL and GRE, and partnering with IELTS and DET, our app, featured prominently on
            Product Hunt, provides a comprehensive and effective learning experience tailored to meet your specific
            needs and goals, ensuring you are well-prepared for any language proficiency test or academic pursuit you
            aim to undertake. With cutting-edge resources, personalized learning paths, and a user-friendly interface,
            you can trust that you’re set for success, leveraging the expertise of industry leaders and the innovative
            approach of a top-rated learning platform to achieve your educational and career aspirations.

          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6 col-12 order-1 order-md-2 ">
        <div class="container">
          <img src="../assets/img/ID Card-pana .png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class="col-md-7 col-lg-6  col-12 order-2 order-md-1">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">Conquering Interviews and Obtaining Your VISA</h1>
          <p class="description text-muted mt-3 ">

            Embark on self-preparation using UnivalleyCRED, leverage alumni-supported mock exams, and benefit from the
            highest global VISA success rate. Our program empowers you with comprehensive resources and expert guidance
            to excel in your academic and career endeavors. With a focus on personalized learning and real-world
            readiness, we ensure you're equipped to achieve your goals confidently. Join a community-driven platform
            that prioritizes your success, backed by proven results and a commitment to excellence. Prepare effectively,
            gain valuable insights, and enhance your prospects with the support of industry-leading tools and dedicated
            alumni networks.

          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6 col-12 ">
        <div class="container">
          <img src="../assets/img/Coins-amico.png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class=" col-md-7 col-lg-6  col-12 ">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">Solving for Money Money Money! </h1>
          <p class="description text-muted mt-3 ">

            Beyond the exclusive Leverage Edu X Nas Daily Scholarship, we curate millions worth of additional
            scholarships and facilitate finding attractive education financing options through Fly Finance. Our platform
            aims to democratize access to higher education funding, ensuring comprehensive support for students
            globally. Whether seeking merit-based awards, need-based grants, or alternative financing solutions, we
            streamline the process with user-friendly tools and personalized guidance. From identifying suitable
            opportunities to navigating application processes, we empower students to pursue their educational
            aspirations without financial constraints. Join us in unlocking a world of possibilities in education
            funding, backed by our commitment to accessible and inclusive support."

          </p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center h-100 align-items-center py-4">
      <div class=" col-md-5 col-lg-6 col-12 order-1 order-md-2 ">
        <div class="container">
          <img src="../assets/img/House searching-bro.png" class="img-fluid rounded-top " alt="" width="450" />
        </div>

      </div>
      <div class=" col-md-7 col-lg-6 col-12 order-2 order-md-1">

        <div class="mt-3 ">
          <h1 class=" heading  display-4 ">Maintaining Your Well-being and Proper Course </h1>
          <p class="description text-muted mt-3 ">

            With Fly Homes, we specialize in curating hundreds of pre-verified housing options, freeing you to
            prioritize what truly matters. Our thorough vetting process ensures every listing meets high standards for
            quality and reliability, saving you time and effort in your search for the perfect home. Whether you're
            looking for a cozy apartment, a spacious family house, or a modern condominium, we provide a diverse range
            of choices tailored to your preferences. Trust Fly Homes to streamline your housing hunt with confidence, so
            you can invest your energy into planning your future in a place you'll love to call home.

          </p>
        </div>

      </div>
    </div>

  </div>

</section>
<section class="container-fluid container-fluid_3">
  <div class="container py-4 ">
    <div class="text-center">
      <span class="display-3"
        style="color: rgb(2, 9, 79); font-weight: bold; font-family: 'Times New Roman', Times, serif;">10000+
        <span class=" display-4" style=" color: rgb(38, 0, 255); ">Successful Outcomes</span> </span>
      <p class="text-muted h5 mt-1"> From Visionaries to Victors</p>
    </div>

    <div class="row mx-0 mx-lg-5 mt-4 justify-content-center">
      <div class="col-md-6 col-lg-4  col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 text-center">
                <p class="profileicon"><img
                  src="../assets/img/account.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-lg-9 col-12 ">
                <p class="card-title h3 ">Santhosh</p>
                <p class="card-title h6  text-muted ">Chennai -> Dubai</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4    col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 text-center">
                <p class="profileicon"><img
                  src="../assets/img/account.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-md-9 col-12 ">
                <p class="card-title h3 ">kavin</p>
                <p class="card-title h6  text-muted ">Thanjavur -> Canada</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4   col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 text-center">
                <p class="profileicon"><img
                  src="../assets/img/account.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-lg-9 col-12 ">
                <p class="card-title h3 ">Raja</p>
                <p class="card-title h6  text-muted ">Kumbakonam -> Singapore</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 text-center">
                <p class="profileicon"><img
                  src="../assets/img/account.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-lg-9 col-12 ">
                <p class="card-title h3 ">Arun</p>
                <p class="card-title h6  text-muted ">Kumbakonam -> Singapore</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn  badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4    col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 ">
                <p class="profileicon"><img
                  src="../assets/img/account.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-lg-9 col-12 ">
                <p class="card-title h3 ">Arun</p>
                <p class="card-title h6  text-muted">Kumbakonam -> Singapore</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4   col-12 mt-3 ">
        <div class="card text-dark fromcard_2">

          <div class="card-body card_heading">
            <div class=" row ">
              <div class="col-lg-3 col-12 text-center">
                <p class="profileicon"><img
                  src="../assets/img/user.png"
                  class="img-fluid "
                  alt="no image"
                />
                </p>
              </div>
              <div class="col-lg-9 col-12 ">
                <p class="card-title h3 ">Arun</p>
                <p class="card-title h6  text-muted ">Kumbakonam -> Singapore</p>
              </div>

            </div>

            <hr>
            <div>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque blanditiis maxime
                delectus soluta rerum non omnis quod voluptate temporibus, iure nobis tempore ratione pariatur dolorum?
              </p>
            </div>
            <div class="mt-3 mb-3">
              <a name="" id="" class="btn btn-info badge bg-info rounded-pill  " href="#" role="button">Data Analyist</a>

            </div>
          </div>
        </div>
      </div>






    </div>

  </div>
</section>

<!-- Remove the container if you want to extend the Footer to full width. -->
<section class="container-fluid container-fluid_4 py-2">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white  ">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->

      <!--Grid row-->
      <div class="row py-3">

        <div class="col-md-6 col-lg-2  col-12 mx-auto mt-md-5   mt-sm-3 mt-lg-3">
          <img src="../assets/img/THINK N MOVE FF-2.png" class="img-fluid rounded-top" alt="" width="150" />

        </div>
        <hr class="w-100 clearfix d-md-none" />
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-6 col-lg-4  col-12 mx-auto mt-md-5  mt-sm-3 mt-lg-3">

          <h6 class="text-uppercase mb-4 font-weight-bold">
            About Company
          </h6>
          <p>
            Think N Move Visa Consltency specializes in professional visa and immigration services, delivering
            personalized guidance and support to clients for seamless and successful application processes, ensuring
            their relocation goals are met efficiently.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3  col-12 mx-auto mt-md-5  mt-sm-3 mt-lg-3">
          <h6 class="text-uppercase  mb-4 font-weight-bold">Contact</h6>
          <p><fa-icon class=" text-white  h6  " [icon]="address"></fa-icon> <span class="ms-2">New York, NY 10012,
              US</span>
          </p>
          <p><fa-icon class=" text-white  h6 " [icon]="mail"></fa-icon><span class="ms-2">thinknmove7@gmail.com </span></p>
          <p><fa-icon class=" text-white  h6 " [icon]="call"></fa-icon><span class="ms-2">+ 91 9566150753</span></p>

        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />
        <!-- Grid column -->
        <div class="col-md-6 col-lg-3  mx-auto mt-md-5  mt-sm-3 mt-lg-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

          <!-- Facebook -->
          <a class="btn rounded-pill m-1" style="background-color: #3b5998" href="#!" role="button"><fa-icon
              class=" text-white  h4 " [icon]="fb"></fa-icon></a>

          <!-- Twitter -->
          <a class="btn rounded-pill  m-1" style="background-color: #55acee" href="#!" role="button"><fa-icon
              class=" text-white  h4 " [icon]="twitter"></fa-icon></a>

          <!-- Google -->


          <!-- Instagram -->
          <a class="btn rounded-pill m-1" style="background-color: #f500f5" href="#!" role="button"><fa-icon
              class=" text-white  h4 " [icon]="insta"></fa-icon></a>
          <br>
          <a class="btn  rounded-pill m-1" style="background-color: #ffffff" href="#!" role="button"><fa-icon
              class=" text-success  h4 " [icon]="whatsup"></fa-icon></a>

          <!-- Linkedin -->
          <a class="btn  rounded-pill  m-1" style="background-color: #0082ca" href="#!" role="button"><fa-icon
              class=" text-white  h4 " [icon]="linkedIn"></fa-icon></a>
          <!-- Github -->
          <a class="btn  rounded-pill m-1" style="background-color: #333333" href="#!" role="button"><fa-icon
              class=" text-white  h4 " [icon]="git"></fa-icon></a>
        </div>
      </div>


    </div>
    <hr>
    <div class="text-center h6 py-1  ">
      © 2024 Copyright By Think N Move

    </div>
  </footer>

</section>
<!-- End of .container -->
