.navbar{
    background:linear-gradient(to bottom ,rgb(19, 21, 58),rgba(12, 12, 35, 0.941));
}

.navbutton{
    outline: solid rgb(255, 255, 255) 3px;
    color: white;

}

.container-fluid_1{
 
    width: 100%;
    background:linear-gradient(to right ,rgba(0, 0, 0, 0.505),rgba(0, 0, 0, 0.395)),url("../assets/img/1287373.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   

}

.fromcard_1{
    background:linear-gradient(to right ,rgba(164, 164, 164, 0.603),rgba(184, 184, 184, 0.612));
}
.countryInput{
    width: 75px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.container-fluid_2{
 
    width: 100%;
    background:linear-gradient(to right ,rgba(207, 239, 248, 0.66),rgba(202, 204, 239, 0.587));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   

}

.heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
     color: rgba(10, 7, 51, 0.998);
    
}
.description{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
 
}

.container-fluid_3{
 
    width: 100%;
    background:linear-gradient(to right ,rgba(255, 255, 255, 0.589),rgba(255, 255, 255, 0.594));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
}
.fromcard_2{
 
    background: linear-gradient(109.6deg, rgba(32, 12, 255, 0.091) 30.1%, rgba(0, 34, 255, 0.114) 100.2%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s ease-in-out;
    
}



.container-fluid_4{
 
    background:linear-gradient(to bottom ,rgb(19, 21, 58),rgba(12, 12, 35, 0.941));

}
.profileicon{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: white;
}
.webicon{
    width: 45px;
    height: 45px; 
    border-radius: 50%; 
}
